.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-form {
    border: 2px solid darkblue;
    padding: 20px;
    background-color: white;
    width: 400px;
}